body{
	margin: 0;
	padding: 0;
}
div{
	border: 1px solid orange;
	/*padding: 5px;*/

}
.box-align {
	background-color: lightgreen;
	width:60%;
	margin: auto;
	text-align: center;
}
img{
	display: block;
	width: 60%;
	margin:auto;

}